.awards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.awards .trophy {
  margin-top: 20px;
  width: 400px;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background-color: rgb(25, 24, 24);
}
.awards .trophy img {
  width: 400px;
 
}

.awards .trophy h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.awards .trophy .spanning {
  display: flex;
  justify-content: space-around;
}

.my-dream-team {
  display: flex;
  justify-content: flex-start; /* Align items to the start of the main axis */
  position: relative;
  width: 100%; /* Ensure the container takes full width */
  margin-left: 50px; /* Reset any left margin */
  padding-left: 0;
  gap: 50px;
}

main h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size:50px
}

.my-dream-team table {
  height: 100%;
  font-size: 25px;
  line-height: 1.5;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 80px;
}

table td {
  padding: 10px;
  white-space: nowrap; /* Prevents text from wrapping */
  text-align: center;
  width: 100px;
  
}

table tr {
  width: 50px;
}
table tr:nth-child(odd) {
  background-color: rgb(22, 22, 22);
}

table tr:nth-child(even) {
  background-color: rgb(30, 30, 30);
}

.my-dream-team .lineup p {
  text-align: center;
  font-size:50px
}

.my-dream-team .lineup img{
  padding-right:80px;
}