.contactinfo {
  background-color: rgb(24, 24, 26);
  box-shadow: 0 0px 8px white;
  padding: 30px;
  border-radius: 30px;
  text-align: start;
  margin: auto;
  margin-top: 20px;
  font-size: 1.8rem;
  width: 950px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.contactflex {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 250px;
  gap: 50px;
}

.contactflex img {
  width: 30px;
}

.contactflex .t {
  box-shadow: 0 0px 4px white;
}

.contactflex .address {
  width: auto;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
}
.contactflex .address ul li {
  display: flex;

  margin-bottom: 10px;
}
.contactflex .address li a {
  display: flex;
  gap: 20px;
  color: white;
  text-decoration: none;
}

.contactflex .address li a span {
  padding-top: 5px;
}

.feedback {
  display: flex;
  flex-direction: column;

  gap: 50px;
  justify-content: space-around;
  padding-left: 20px;
  border-radius: 10px;
}
.feedback h1 {
  margin-bottom: 0px;
}

.feedback label {
  display: block;
}

.feedback input[type="submit"] {
  margin-bottom: 20px;
  width: 200px;
  background-color: rgb(98, 179, 98);
  font-size: 40px;
  border-radius: 10px;
}



.contactflex .address li a:hover {
  color: white;
  text-decoration: none;

  border-radius: 20px;

  background-color: gray;
}

.feedback .w {
  width: 450px;
  height: 40px;
}
 

