.groups{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content:flex-start;
    width:100%;
    gap:30px;
    margin-top:30px;
    margin-bottom:60px;

}

.groups div {
    width: 400px;
    
    
}



table{
    transition: transform 0.1s ease, box-shadow 0.1s ease; /* Smooth transition for transform and box-shadow */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* White shadow evenly around */
}

table:hover {
    transform: scale(1.1); /* Zoom effect on hover */
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.75); /* More pronounced white shadow on hover */
}





.groups h1{
    text-align:center;
    border-bottom: solid 1px white;
    margin-bottom:0px;
}