.groups {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 60px;
}

table {
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  font-size: 25px;
  width: 400px;
  height: auto;
}

table:hover {
  transform: scale(1.1); /* Zoom effect on hover */
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.75); /* More pronounced white shadow on hover */
}
.groups table th:first-child {
  text-align: center;
}
.groups table td {
  text-align: center;
}

tr td {
  padding: 0 10px; /* Adjust the 10px value as needed */
}

.groups {
  flex-basis: calc(
    33.333% - 20px); 
  margin: 10px; /* Optional: Adds some space between the tables */
  table-layout: fixed; /* Ensures each column has equal width */
}
table tr:nth-child(n + 3):nth-child(odd) {
  background-color: #1b1a1a; 
}

table tr:nth-child(n + 3):nth-child(even) {
  background-color: #0a01016b; 
}
