.groups{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content:flex-start;
    width:100%;
}

.groups div {
    width: calc(33.33% - 20px); 
    margin:5px;
    
}

.game{
    display:flex;
    justify-content: space-between;
}


.groups .A{
    
    border: solid 1px white;
}