body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
header {
  display: flex;
  height: 4rem;
  justify-content: space-between;
  padding: 4px;
  border-bottom: solid 2px white;
  
}


.logo {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 4px;
}

.logo h1 {
  font-size: 3rem;
}

.logo img {
  height: 100%;
  border-radius: 50%;
}

.navbar ul {
  display: flex;
  gap: 24px;
  list-style: none;
}
.navbar li {
  border-radius: 10px;
  border: solid 1px white;
  padding: 5px;
}

.navbar li:hover {
  background-color: blue;
  transition-duration: 1s;
}
.navbar a {
  text-decoration: none;
  color: white;
}

.navbar a:active {
  color: green;
}

main{
  display:flex;
}

.intro{
  display:block;
  color:green;

}