body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
header {
  display: flex;
  height: 4rem;
  justify-content: space-between;
  padding: 4px;
  border-bottom: solid 2px white;
 
  
}


.logo {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 4px;
}

.logo h1 {
  font-size: 3rem;
}

.logo img {
  height: 100%;
  border-radius: 50%;
}

.navbar ul {
  display: flex;
  gap: 24px;
  list-style: none;
}
.navbar li {
  border-radius: 10px;
  border: solid 1px white;
  padding: 5px;
}

.navbar li:hover {
  background-color: blue;
  transition-duration: 1s;
}
.navbar a {
  text-decoration: none;
  color: white;
}

.navbar a:active {
  color: green;
}



.part1 {
  display:flex;
  justify-content: space-between;
  margin:10px;

}
.final-summary{
  margin: 0px;
  padding:10px 10px;
  width:550px;
  background:rgb(3, 4, 39);
  
}
.final-summary p{
  width:100%;
  margin-bottom:20px;
  padding:0px;
}

.qatar-logo{
  margin-top:100px;
  margin-left: 10px;
  padding:10px;
  width:700px;

}
.qatar-logo img{
  width:700px;
  margin-left: 0px;
}


.intro{
  display:block;
  color:white;
  text-align:center;
  margin-bottom: 0px;

}

.audio{
  display:block;
  text-align:center;
}

